{% extends 'layout.html' %}

{% block body %}

<h1>About</h1>

<p>Lorem ipsum dolor sit amet. In mollitia possimus est sunt praesentium ut dolores dolorem 33 voluptates quaerat. 33 dolorem soluta sit galisum dolorum aut rerum vero sed nisi quasi! Qui voluptatem praesentium a itaque velit non deleniti soluta et rerum neque est ducimus quas ex nemo repudiandae id voluptate vitae.

    Id fuga sunt est atque odit qui similique voluptas a minima accusamus aut beatae quibusdam nam facere tenetur qui distinctio. Ex voluptatem fugit in quod fugiat ut nihil repellat. At rerum provident qui nihil officia et voluptas nihil! Ea facere quo distinctio rerum ut sint veniam.
    
    Et iure recusandae ut ipsum soluta qui beatae sapiente in animi ipsam qui molestiae sapiente aut voluptatem doloremque nam dicta numquam. Qui nihil vitae eum debitis nihil ut vitae beatae ut perferendis consectetur. In similique autem sed consequatur officiis et veritatis iste sed laborum tempore qui labore nesciunt aut voluptatem enim.
</p>

{% endblock %}