{% extends 'layout.html' %}

{% block body %}

<div class = "row">
    <div class = "col-md-4 offset-md-4">
        <form action = "/update/{{usuario.id}}" method = "POST" class = "card bg-dark text-light">
            <div class = "card-body p-4">
                <div class = "mb-3">
                    <label for = "nombre" class = "mb-3">Nombre:</label>
                    <input type = "text" name = "nombre" placeholder = "Escribe tu nombre" value = "{{usuario.nombre}}" class = "form-control rounded-5 bg-dark border-0 text-white"/> 
                </div>
                <div class = "mb-3">
                    <label for = "apellido" class = "mb-3">Apellido:</label>
                    <input type = "text" name = "apellido" placeholder = "Escribe tu apellido" value = "{{usuario.apellido}}" class = "form-control rounded-5 bg-dark border-0 text-white"/>        
                </div>
                <div class = "mb-3">
                    <label for = "username" class = "mb-3">Nombre de usuario:</label>
                    <input type = "text" name = "username" placeholder = "Escribe tu nombre de usuario" value = "{{usuario.username}}" class = "form-control rounded-5 bg-dark border-0 text-white"/>        
                </div>
                <div class = "mb-3">
                    <label for = "password" class = "mb-3">Contraseña:</label>
                    <input type = "password" name = "password" placeholder = "Escribe tu contraseña" value = "{{usuario.password}}" class = "form-control rounded-5 bg-dark border-0 text-white"/> 
                </div>
                <div class="d-grid gap-2 col-4 mx-auto mt-4 mb-3">
                    <button class = "btn btn-primary">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}